.nav-img{
    width: 30px;
}
.home-link{
    text-decoration: none;
    color: rebeccapurple;
    font-size: 20px;
    font-weight: 900;
    margin-left: 30px;
}
.navbar-div{
    border: solid royalblue;
    padding: 10px;
}